<header class='header'>
    <nav>
        <div>
            <div>
                <ul >
                    <li >
                        <a href="/">accueil</a>
                    </li>
                    <li >
                        <a href="/predict">prediction</a>
                    </li>
                    <li >
                        <a href="/statistique">Visualisation</a>
                    </li>
                    
                </ul>

            </div>
        </div>
        
                
    </nav>
</header>